/* -------------general and logo----------------- */
:root {
  --accent-color: #2196f3;
  --normal-color: #ffffff;
  --primary-color: #212121;
  --minor-color: #757575;
  --secondary-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-dark {
  color: #000000;
}

.logo-light {
  color: var(--normal-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 14px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------visually-hidden-title--------- */
.benefits-title,
.examples-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -----------------header-------------------- */
.headsite {
  border-bottom: 1px solid #ececec;
}
.site-nav .logo {
  padding-top: 24px;
  margin-right: 93px;
}
.site-nav,
.otherpages-list,
.main-nav,
.contacts-list {
  display: flex;
}

.main-nav {
  justify-content: space-between;
}

.otherpages-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.otherpages-link,
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  display: block;
  padding: 32px 0px;
}

.contacts-link {
  font-style: normal;
  color: var(--minor-color);
}

.current {
  color: var(--accent-color);
}

/* ----------------section hero----------------- */

/* .overlay {
  height: 600px;
  max-width: 1600px;
  background: url(../images/heroback.jpg);
} */

.hero {
  width: 1600px;
  margin: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/heroback.jpg), #2f303a;
  text-align: center;
  padding: 200px 0px;
}

.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--normal-color);
}

.hero-button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--normal-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  min-width: 216px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--normal-color);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -----------section benefits-------------- */

.benefits-list {
  display: flex;
  column-gap: 30px;
}

.benefits-item {
  flex-basis: calc((100%-90px) / 4);
}

.benefits-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-ph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

/*-----------------section what-we-do--------*/

.what-we-do {
  padding-top: 0;
}
.what-we-do-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
  column-gap: 30px;
}

.what-we-to-do-item {
  flex-basis: calc((100% - 60px) / 3);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------------section our-team ----------*/

.our-team {
  background-color: var(--secondary-color);
}

.our-team-list {
  text-align: center;
  display: flex;
  column-gap: 30px;
}

.our-team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--normal-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-team-names {
  padding: 30px 0px;
}

.our-team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team-ph {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

/* ----------------footer-------------------- */
.footsite {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-section {
  margin-top: 20px;
}

.address-item:nth-child(n + 2) {
  margin-top: 9px;
}
.addressmap-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--normal-color);
}

.mail-and-tel-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* -------------PORTFOLIO-------------- */

.filters-list {
  display: flex;
  justify-content: center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--normal-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.examples-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--normal-color);
}

.examples-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.examples-ph {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--minor-color);
}

.examples-box {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
